
<!-- start of hero-->
<section id ="hero" class="tall padding-push-top">
    
    <div class="tall">
		<div class="container-fluid tall">
			<div class="row-fluid tall">
				<div class="span8 tall pull-right mobile-height">
				  	<div class="w-billboard tall">
				  		<div class="billboard">
			      			<img class="hero-img" src="https://s3.amazonaws.com/online-static-potential-bucket/images/big-billboard-final.png" />
			      		</div>
			  		</div>
			    </div>
			    <div class="span4 tall call-to-action-info">
				    <div class="w-call-to-action">
					    <div class="call-to-action">
							<h2>Potential Apparel is building the World's Largest Billboard.</h2>
							<h5>Here's what we mean: </h5>
							<p>We are encouraging everyone to donate the advertising space of
								their t-shirts, tanks and hoodies to the Potential Apparel "Billboard".
							</p>
							<p>Side by side Potential Apparel wearers support underprivileged youth through sport and help unlock their potential.  Five to nine dollars from every item sold will be donated to our selected charities <i><%= link_to "Right To Play", root_url(:anchor => "partners"), 'data-target' => '#partners', :class => 'normal' %></i> 
								and <i><%= link_to "Heroes Hockey", root_url(:anchor => "partners-2"), 'data-target' => '#partners-2', :class => 'normal' %>.</i></p>
						</div>
						<div class="move-down">
							<h5>A whole new way to help.</h5>
							<a class="normal" data-target="#concept" href="#concept"><button class="btn btn-inverse btn-large no-margin-top">Learn More</button></a>
						</div>
					</div>
				</div>
		    </div>
		</div>
	</div>
</section>
<!-- end of of hero -->

<!-- start of concept -->
<section id ="concept" class="frame no-padding">
    <div class="two-fifths grid-pattern">
    	<div class="container">
			<div class="row">
			    <div class="span12 video-block">
				     <iframe src="http://player.vimeo.com/video/66986983?title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			    </div>
		    </div>
		</div>
    </div>
    <div class="two-fifths">
    	<div class="container">
			<div class="row">
				<div id="this-carousel-id" class="carousel slide span12 no-margin-b">
				  <div class="carousel-inner">
				    <div class="item active">
				    	<a href= "http://store.potentialapparel.com" target="_blank"><img src='https://s3.amazonaws.com/online-static-potential-bucket/images/models-slider/models-slider1.png' /></a>
					</div>
				    <div class="item">
				     <a href= "http://store.potentialapparel.com" target="_blank"><img src="https://s3.amazonaws.com/online-static-potential-bucket/images/models-slider/models-slider2.png" /></a>
				    </div>
				    <div class="item">
				      <a href= "http://store.potentialapparel.com" target="_blank"><img src="https://s3.amazonaws.com/online-static-potential-bucket/images/models-slider/models-slider3.png" /></a>
				    </div>
				  </div>
				    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
				    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
				</div>
		    </div>
		</div>
		<div class="container">
			<div class="span3 offset9 concept-button">
				<a class="normal" data-target="#roster" href="#roster"><button class="btn btn-inverse btn-large">See our Roster</button></a>
			</div>
		</div>
	</div>
</section>
<!-- end of concept -->
<!-- roster start-->
<section id ="roster" class="frame">
	<div class="container tall">
		<div class="row relative">
			<div class="span1">
				<h2 class="bottom-line">Roster</h2>
			</div>		 
			<div class="span11 margin-36">
				<div class="light-line visible-desktop"></div>
			</div>
		</div><!--end of title-->
		<div class="row">
			<div id="roster-carousel-id" class="carousel slide span12 no-margin-b">
				  <div class="carousel-inner">
				    <div class="item active">
				    	<div class="row roster-well">
							<div class="span6">
								<div class="player-image tall pixel-push">
									<%= image_tag("1-gallagher.jpg", :class => "laz") %>
								<div class="player-info-right no-left tall span2">
									<div class="player-padding">
										<h3 class="player-name"><span class="first-name">Brendan</span> <span class="last-name">Gallagher</span></h3>
										<p class="twitter-handle"><%= link_to "@bgally17", "http://twitter.com/bgally17", :target => "_blank" %></p>

										<h5 class="team-name"><span class="city">Montreal</span> <span class="team-name">Canadiens</span></h5>
										<div class="team-logo montreal visible-desktop"></div>
									</div>
								</div>
								</div>
							</div><!--end of player-1-->
							<div class="span6">
								<div class="player-image tall pixel-push">
									<%= image_tag("4-ferraro.jpg") %>
								<div class="player-info-right tall span2">
									<div class="player-padding">
										<h3 class="player-name"><span class="first-name">Landon</span> <span class="last-name">Ferraro</span></h3>
										<p class="twitter-handle"><%= link_to "@LandonFerraro", "http://twitter.com/landonferraro", :target => "_blank" %></p>
										<h5 class="team-name"><span class="city">Detroit</span> <span class="team-name">Red Wings</span></h5>
										<div class="team-logo detroit"></div>
									</div>
								</div>
								</div>
							</div><!--end of player-2-->
							</div><!--end of row-->
							<div class="row roster-well">
								<div class="span6">
									<div class="player-image tall no-left">
										<%= image_tag("2-johansen.jpg") %>
									<div class="player-info-left tall span2">
										<div class="player-padding">
											<h3 class="player-name"><span class="first-name">Ryan</span> <span class="last-name">Johansen</span></h3>
											<p class="twitter-handle">
												<%= link_to "@RyanJohansen19", "http://twitter.com/ryanjohansen19", :target => "_blank" %>
											</p>
											<h5 class="team-name"><span class="city">Columbus</span> <span class="team-name">Blue Jackets</span></h5>
											<div class="team-logo columbus"></div>
										</div>
									</div>
									</div>
								</div><!--end of player-2-->
								<div class="span6">
									<div class="player-image tall no-left">
										<%= image_tag("5-pysyk.jpg") %>
									<div class="player-info-left no-left tall span2">
										<div class="player-padding">
											<h3 class="player-name"><span class="first-name">Mark</span> <span class="last-name">Pysyk</span></h3>
											<p class="twitter-handle">
												<%= link_to "@Mpysyk03", "http://twitter.com/mpysyk03", :target => "_blank" %>
											</p>
											<h5 class="team-name"><span class="city">Buffalo</span> <span class="team-name">Sabres</span></h5>
											<div class="team-logo buffalo"></div>
										</div>
									</div>
									</div>
								</div><!--end of player-1-->
							</div><!--end of row-->

							<div class="row roster-well">
								<div class="span6">
									<div class="player-image tall pixel-push">
										<%= image_tag("3-calvert.jpg") %>
									<div class="player-info-right no-left tall span2">
										<div class="player-padding">
											<h3 class="player-name"><span class="first-name">Matt</span> <span class="last-name">Calvert</span></h3>
											<p class="twitter-handle">
												<%= link_to "@MattCalvert11", "http://twitter.com/mattcalvert11", :target => "_blank" %>
											</p>
											<h5 class="team-name"><span class="city">Columbus</span> <span class="team-name">Blue Jackets</span></h5>
											<div class="team-logo columbus"></div>
										</div>
									</div>
									</div>
								</div><!--end of player-1-->
								
								<div class="span6">
									<div class="player-image tall  pixel-push">
										<%= image_tag("6-gillies.jpg") %>
										<div class="player-info-right tall span2">
											<div class="player-padding">
												<h3 class="player-name"><span class="first-name">Colton</span> <span class="last-name">Gillies</span></h3>
												<p class="twitter-handle">
													<%= link_to "@ColtonGillies", "http://twitter.com/coltongillies", :target => "_blank" %>
												</p>
												<h5><span class="city">Columbus</span> <span class="team-name">Blue Jackets</span></h5>
												<div class="team-logo columbus"></div>
											</div>
										</div>
									</div>
								</div><!--end of player-2-->
							</div><!--end of row-->
					</div><!--end of first slider image-->
					<div class="item"><!--PAGE 2 BEGINS -->
						<div class="row roster-well">
							<div class="span6">
								<div class="player-image tall pixel-push">
									<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/7-goloubef.jpg" >
									<div class="player-info-right no-left tall span2">
										<div class="player-padding">
											<h3 class="player-name"><span class="first-name">Cody</span> <span class="last-name">Goloubef</span></h3>
											<p class="twitter-handle">
												<%= link_to "@CodyGoloubef27", "http://twitter.com/codygoloubef27", :target => "_blank" %>
											</p>
											<h5 class="team-name"><span class="city">Columbus</span> <span class="team-name">Blue Jackets</span></h5>
											<div class="team-logo columbus visible-desktop"></div>
										</div>
									</div>
								</div>
							</div><!--end of player-1-->
							<div class="span6">
								<div class="player-image tall pixel-push">
									<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/10-deck.jpg" >
									<div class="player-info-right tall span2">
										<div class="player-padding">
											<h3 class="player-name"><span class="first-name">Nathan</span> <span class="last-name">Deck</span></h3>
											<p class="twitter-handle">
												<%= link_to "@NathanDeck", "http://twitter.com/nathandeck", :target => "_blank" %>
											</p>
											<h5 class="team-name"><p>Signed with:</p><span class="city">Edmonton</span> <span class="team-name">Oilers</span></h5>
											<div class="team-logo edmonton"></div>
										</div>
									</div>
								</div>
							</div><!--end of player-2-->
							</div><!--end of row-->
							<div class="row roster-well">
								<div class="span6">
									<div class="player-image tall no-left">
										<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/8-hamilton.jpg" >
										<div class="player-info-left tall span2">
											<div class="player-padding">
												<h3 class="player-name"><span class="first-name">Curtis</span> <span class="last-name">Hamilton</span></h3>
												<p class="twitter-handle">
													<%= link_to "@Hamiltonov", "http://twitter.com/hamiltonov", :target => "_blank" %>
												</p>
												<h5 class="team-name"><p>Signed with:</p><span class="city">Edmonton</span> <span class="team-name">Oilers</span></h5>
												<div class="team-logo edmonton"></div>
											</div>
										</div>
									</div>
								</div><!--end of player-2-->
								<div class="span6">
									<div class="player-image tall no-left">
										<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/11-button.jpg" >
										<div class="player-info-left no-left tall span2">
											<div class="player-padding">
												<h3 class="player-name"><span class="first-name">Ryan</span> <span class="last-name">Button</span></h3>
												<p class="twitter-handle">
													<%= link_to "@buttsy78", "http://twitter.com/buttsy78", :target => "_blank" %>
												</p>
												<h5 class="team-name"><p>Signed with:</p><span class="city">Boston</span> <span class="team-name">Bruins</span></h5>
												<div class="team-logo boston"></div>
											</div>
										</div>
									</div>
								</div><!--end of player-1-->
							</div><!--end of row-->

							<div class="row roster-well">
								<div class="span6">
									<div class="player-image tall pixel-push">
										<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/9-connauton.jpg" >
										<div class="player-info-right no-left tall span2">
											<div class="player-padding">
												<h3 class="player-name"><span class="first-name">Kevin</span> <span class="last-name">Connauton</span></h3>
												<p class="twitter-handle">
													<%= link_to "@K_Nauts", "http://twitter.com/K_Nauts", :target => "_blank" %>
												</p>
												<h5 class="team-name"><p>Signed with:</p><span class="city">Dallas</span> <span class="team-name">Stars</span></h5>
												<div class="team-logo dallas"></div>
											</div>
										</div>
									</div>
								</div><!--end of player-1-->
								
								<div class="span6">
									<div class="player-image tall  pixel-push">
										<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/12-reid.jpg" >										
										<div class="player-info-right tall span2">
											<div class="player-padding">
												<h3 class="player-name"><span class="first-name">Cam</span> <span class="last-name">Reid</span></h3>
												<p class="twitter-handle">
													<%= link_to "@CantReid23", "http://twitter.com/cantreid23", :target => "_blank" %>
												</p>
												<h5 class="team-name"><p>Signed with:</p><span class="city">Nashville</span> <span class="team-name">Predators</span></h5>
												<div class="team-logo nashville"></div>
											</div>
										</div>
									</div>
								</div><!--end of player-2-->
							</div><!--end of row and page 2-->
					</div>
					<div class="item"><!--PAGE 3 BEGINS-->
						<div class="row roster-well">
							<div class="span6">
								<div class="player-image tall pixel-push">
									<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/13-peters.jpg" >
									<div class="player-info-right no-left tall span2">
										<div class="player-padding">
											<h3 class="player-name"><span class="first-name">Taylor</span> <span class="last-name">Peters</span></h3>
											<p class="twitter-handle">
												<%= link_to "@thepistolpete25", "http://twitter.com/thepistolpete25", :target => "_blank" %>
											</p>

											<h5 class="team-name"><p>Signed with:</p><span class="city">Dallas</span> <span class="team-name">Stars</span></h5>
											<div class="team-logo dallas visible-desktop"></div>
										</div>
									</div>
								</div>
							</div><!--end of player-1-->
							<div class="span6">
								<div class="player-image tall pixel-push">
									<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/18-petan.jpg" >
									<div class="player-info-right tall span2">
										<div class="player-padding">
											<h3 class="player-name"><span class="first-name">Nic</span> <span class="last-name">Petan</span></h3>
											<p class="twitter-handle">
												<%= link_to "@Petan19", "http://twitter.com/petan19", :target => "_blank" %>
											</p>
											<h5 class="team-name"><span class="city">Eligible</span> <span class="team-name">2013 NHL Draft</span></h5>
											<div class="team-logo nhl"></div>
										</div>
									</div>
								</div>
							</div><!--end of player-2-->
							</div><!--end of row-->
							<div class="row roster-well">
								<div class="span6">
									<div class="player-image tall no-left">
										<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/14-boychuk.jpg" >
										<div class="player-info-left tall span2">
											<div class="player-padding">
												<h3 class="player-name"><span class="first-name">Riley</span> <span class="last-name">Boychuk</span></h3>
												<p class="twitter-handle">
													<%= link_to "@Boychuk91", "http://twitter.com/boychuk91", :target => "_blank" %>
												</p>
												<h5 class="team-name"><p>Signed with:</p><span class="city">Buffalo</span> <span class="team-name">Sabres</span></h5>
												<div class="team-logo buffalo"></div>
											</div>
										</div>
									</div>
								</div><!--end of player-2-->
								<div class="span6">
									<div class="player-image tall no-left">
										<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/17-mccolgan.jpg" >
										<div class="player-info-left no-left tall span2">
											<div class="player-padding">
												<h3 class="player-name"><span class="first-name">Shane</span> <span class="last-name">McColgan</span></h3>
												<p class="twitter-handle">
													<%= link_to "@Shane18McColgan", "http://twitter.com/shane18mccolgan", :target => "_blank" %>
												</p>
												<h5 class="team-name"><p>Drafted by:</p><span class="city">New York</span> <span class="team-name">Rangers</span></h5>
												<div class="team-logo newyork"></div>
											</div>
										</div>
									</div>
								</div><!--end of player-1-->
							</div><!--end of row-->

							<div class="row roster-well">
								<div class="span6">
									<div class="player-image tall pixel-push">
										<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/15-nicholls.jpg" >
										<div class="player-info-right no-left tall span2">
											<div class="player-padding">
												<h3 class="player-name"><span class="first-name">Josh</span> <span class="last-name">Nicholls</span></h3>
												<p class="twitter-handle">
													<%= link_to "@JNicks20", "http://twitter.com/jnicks20", :target => "_blank" %>
												</p>
												<h5 class="team-name"><p>Signed with:</p><span class="city">New York</span> <span class="team-name">Rangers</span></h5>
												<div class="team-logo newyork"></div>
											</div>
										</div>
									</div>
								</div><!--end of player-1-->
								
								<div class="span6">
									<div class="player-image tall  pixel-push">
										<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/16-beach.jpg" >										
										<div class="player-info-right tall span2">
											<div class="player-padding">
												<h3 class="player-name"><span class="first-name">Cody</span> <span class="last-name">Beach</span></h3>
												<p class="twitter-handle">
													<%= link_to "@CodyBeach16", "http://twitter.com/codybeach16", :target => "_blank" %>
												</p>
												<h5 class="team-name"><p>Signed with:</p><span class="city">St. Louis</span> <span class="team-name">Blues</span></h5>
												<div class="team-logo stlouis"></div>
											</div>
										</div>
									</div>
								</div><!--end of player-2-->
							</div><!--end of row and page 3-->
					</div>
						<div class="item">
							<div class="row roster-well">
								<div class="span6">
									<div class="player-image tall pixel-push">
										
										<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/19-olsen.jpg" >
									<div class="player-info-right no-left tall span2">
										<div class="player-padding">
											<h3 class="player-name"><span class="first-name">Ryan</span> <span class="last-name">Olsen</span></h3>
											<p class="twitter-handle">
												<%= link_to "@ROlsen94", "http://twitter.com/rolsen94", :target => "_blank" %>
											</p>
											<h5 class="team-name"><p>Drafted by:</p><span class="city">Winnipeg</span> <span class="team-name">Jets</span></h5>
											<div class="team-logo winnipeg visible-desktop"></div>
										</div>
									</div>
									</div>
								</div><!--end of player-1-->
								<div class="span6">
									<div class="player-image tall pixel-push">
										<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/22-isaacs.jpg" >
									<div class="player-info-right tall span2">
										<div class="player-padding">
											<h3 class="player-name"><span class="first-name">James</span> <span class="last-name">Isaacs</span></h3>
											<p class="twitter-handle">
												<%= link_to "@JIsaacs5", "http://twitter.com/jisaacs5", :target => "_blank" %>
											</p>
											<h5 class="team-name"><p>Current Team:</p><span class="city">Idaho</span> <span class="team-name">Steelheads (ECHL)</span></h5>
											<div class="team-logo idaho"></div>
										</div>
									</div>
									</div>
								</div><!--end of player-2-->
								</div><!--end of row-->
								<div class="row roster-well">
									<div class="span6">
										<div class="player-image tall no-left">
											
											<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/20-humphries.jpg" >
										<div class="player-info-left tall span2">
											<div class="player-padding">
												<h3 class="player-name"><span class="first-name">Spencer</span> <span class="last-name">Humphries</span></h3>
												<p class="twitter-handle">
													<%= link_to "@SHumper5", "http://twitter.com/shumper5", :target => "_blank" %>
												</p>
												<h5 class="team-name"><p>Current Team:</p><span class="city">Calgary</span> <span class="team-name">Hitmen (WHL)</span></h5>
												<div class="team-logo hitmen"></div>
											</div>
										</div>
										</div>
									</div><!--end of player-2-->
									<div class="span6">
										<div class="player-image tall no-left">
											
											<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/23-edmondson.jpg" >
										<div class="player-info-left no-left tall span2">
											<div class="player-padding">
												<h3 class="player-name"><span class="first-name">Reid</span> <span class="last-name long-name">Edmondson</span></h3>
												<p class="twitter-handle">
													<%= link_to "@EddysBnB", "http://twitter.com/eddysbnb", :target => "_blank" %>
												</p>
												<h5 class="team-name"><p>Current Team:</p><span class="city">Mississippi</span> <span class="team-name">Surge (SPHL)</span></h5>
												<div class="team-logo mississippi"></div>
											</div>
										</div>
										</div>
									</div><!--end of player-1-->
								</div><!--end of row-->

								<div class="row roster-well">
									<div class="span6">
										<div class="player-image tall pixel-push">
											
											<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/21-harrison.jpg" >
										<div class="player-info-right no-left tall span2">
											<div class="player-padding">
												<h3 class="player-name"><span class="first-name">Ryan</span> <span class="last-name">Harrison</span></h3>
												<p class="twitter-handle">
													<%= link_to "@Harry2261", "http://twitter.com/harry2261", :target => "_blank" %>
												</p>
												<h5 class="team-name"><p>Current Team:</p><span class="city">Everett</span> <span class="team-name">Silvertips (WHL)</span></h5>
												<div class="team-logo everett"></div>
											</div>
										</div>
										</div>
									</div><!--end of player-1-->
									
									<div class="span6">
										<div class="player-image tall  pixel-push">
											
											<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/24-jobke.jpg" >
											<div class="player-info-right tall span2">
												<div class="player-padding">
													<h3 class="player-name"><span class="first-name">Colton</span> <span class="last-name">Jobke</span></h3>
													<p class="twitter-handle">
														<%= link_to "@ColtonJobke6", "http://twitter.com/coltonjobke6", :target => "_blank" %>
													</p>
													<h5 class="team-name"><p>Signed with:</p><span class="city">Minnesota</span> <span class="team-name">Wild</span></h5>
												<div class="team-logo minnesota"></div>
												</div>
											</div>
										</div>
									</div><!--end of player-2-->
								</div><!--end of row and page 4-->
							</div>
							<div class="item">
							<div class="row roster-well">
								<div class="span6">
									<div class="player-image tall pixel-push">
										
										<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/25-poulin.jpg" >
										<div class="player-info-right no-left tall span2">
											<div class="player-padding">
												<h3 class="player-name"><span class="first-name">Felix</span> <span class="last-name">Poulin</span></h3>
												<p class="twitter-handle">
													<%= link_to "@fpoulz", "http://twitter.com/fpoulz", :target => "_blank" %>
												</p>
												<h5 class="team-name"><p>Current Team:</p><span class="city">STU</span> <span class="team-name">St. Tommies (CIS)</span></h5>
												<div class="team-logo stu visible-desktop"></div>
											</div>
										</div>
									</div>
								</div><!--end of player-1-->
								<div class="span6">
									<div class="player-image tall no-left">
											
											<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/28-cox.jpg" >
										<div class="player-info-right tall span2">
											<div class="player-padding">
												<h3 class="player-name"><span class="first-name">Trevor</span> <span class="last-name">Cox</span></h3>
												<p class="twitter-handle">
													<%= link_to "@TrevorCox36", "http://twitter.com/trevorcox36", :target => "_blank" %>
												</p>
												<h5 class="team-name"><p>Current Team:</p><span class="city">Medicine Hat</span> <span class="team-name">Tigers (WHL)</span></h5>
												<div class="team-logo medicinehat"></div>
											</div>
										</div>
										</div>
								</div><!--end of player-2-->
								</div><!--end of row-->
								<div class="row roster-well">
									<div class="span6">
										
										<div class="player-image tall pixel-push">
									
											<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/26-atkinson.jpg" >
											<div class="player-info-left no-left tall span2">
												<div class="player-padding">
													<h3 class="player-name"><span class="first-name">Clinton</span> <span class="last-name">Atkinson</span></h3>
													<p class="twitter-handle">
														<%= link_to "@Clintorium", "http://twitter.com/clintorium", :target => "_blank" %>
													</p>
													<h5 class="team-name"><p>Current Team:</p><span class="city">Miskolci</span> <span class="team-name">Jegesmedvék</span></h5>
													<div class="team-logo hungary"></div>
												</div>
											</div>
										</div>

									</div><!--end of player-2-->
									<div class="span6">
										<div class="player-image tall pixel-push">
									
											<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/31-saip.jpg" >
											<div class="player-info-left no-left tall span2">
												<div class="player-padding">
													<h3 class="player-name"><span class="first-name">Linden</span> <span class="last-name">Saip</span></h3>
													
													<h5 class="team-name"><p>Current Team:</p><span class="city">UBC</span> <span class="team-name">Thunderbirds</span></h5>
													<div class="team-logo ubc"></div>
												</div>
											</div>
										</div>
									</div><!--end of player-1-->
								</div><!--end of row-->

								<div class="row roster-well">
									<div class="span6">
										<div class="player-image tall pixel-push">
									
											<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/27-bettauer.jpg" >
											<div class="player-info-right no-left tall span2">
												<div class="player-padding">
													<h3 class="player-name"><span class="first-name">James</span> <span class="last-name">Bettauer</span></h3>									
													<h5 class="team-name"><p>Current Team:</p><span class="city">Hamburg</span> <span class="team-name">Freezers (DEL)</span></h5>
													<div class="team-logo hamburg"></div>
												</div>
											</div>
										</div>
									</div><!--end of player-1-->
									
									<div class="span6">
										<div class="player-image tall pixel-push">
									
											<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/29-hickmott.jpg" >
											<div class="player-info-right no-left tall span2">
												<div class="player-padding">
													<h3 class="player-name"><span class="first-name">Jordan</span> <span class="last-name">Hickmott</span></h3>
													<p class="twitter-handle">
														<%= link_to "@J_Hicks9", "http://twitter.com/j_hicks9", :target => "_blank" %>
													</p>
													
													<h5 class="team-name"><p>Current Team:</p><span class="city">U of A</span> <span class="team-name">Golden Bears (CIS)</span></h5>
													<div class="team-logo uofa"></div>
												</div>
											</div>
										</div>
									</div><!--end of player-2-->
								</div><!--end of row and page 4-->

							</div>

							<div class="item">
							<div class="row roster-well">
								<div class="span6">
									<div class="player-image tall pixel-push">
										
										<img src="https://s3.amazonaws.com/online-static-potential-bucket/images/roster/30-manning.jpg" >
										<div class="player-info-right no-left tall span2">
											<div class="player-padding">
												<h3 class="player-name"><span class="first-name">Neil</span> <span class="last-name">Manning</span></h3>
												<p class="twitter-handle">
													<%= link_to "@N_Manning8", "http://twitter.com/n_manning8", :target => "_blank" %>
												</p>
												<h5 class="team-name"><p>Current Team:</p><span class="city">UBC</span> <span class="team-name">Thunderbirds (CIS)</span></h5>
												<div class="team-logo ubc visible-desktop"></div>
											</div>
										</div>
									</div>
								</div><!--end of player-1-->
								<div class="span6 emptyroster">
									
								</div><!--end of player-2-->
								</div><!--end of row-->
								<div class="row roster-well">
									<div class="span6 emptyroster">
										
										
									</div><!--end of player-2-->
									<div class="span6 emptyroster">
										
									</div><!--end of player-1-->
								</div><!--end of row-->

								<div class="row roster-well">
									<div class="span6 emptyroster">
										
									</div><!--end of player-1-->
									
									<div class="span6 emptyroster">
										
									</div><!--end of player-2-->
								</div><!--end of row and page 4-->
								
							</div>

				</div><!--end of inner carousel-->
				    <a class="carousel-control left" href="#roster-carousel-id" data-slide="prev">‹</a>
				    <a class="carousel-control right" href="#roster-carousel-id" data-slide="next">›</a>
			</div><!--end of carousell -->
		</div>





		<div class="container">
			<div class="row">
				<div class="span3 offset9 concept-button">
					<%= link_to(content_tag(:button, "Go to Store", :class => "btn gear-up btn-large"), "http://store.potentialapparel.com", :class => "") %>

				</div>
			</div>
		</div>
	</div>
</section><!--end of roster-->
<section id ="apparel" class="frame">
	<div class="container apparel-bottom-style">
		<div class="row relative">
			<div class="span3 ">
				<h2 class="bottom-line">Potential Apparel</h2>
			</div>
			<div class="span9 margin-36">
				<div class="darker-line visible-desktop"></div>
			</div>
		</div>
		<div class="row bump-20">

			<div class="span3">
				<div class="app-wrap">
					<%= link_to image_tag("sand-phnsl-black-a.jpg", :mouseover => "sand-phnsl-black-b.jpg", :class => "app-anchor"), "http://store.potentialapparel.com/products/64000s-nsl-b" %>
				</div>
			</div>
			<div class="span3">
				<div class="app-wrap">
					<%= link_to image_tag("w-orange-phnsl-black-a.jpg", :mouseover => "w-orange-phnsl-black-b.jpg", :class => "app-anchor"), "http://store.potentialapparel.com/products/b6004co-nsl-b" %>
				</div>
			</div>
			
			<div class="span3">
				<div class="app-wrap">
					<%= link_to image_tag("crew-red-circle-white-a.jpg", :mouseover => "crew-red-circle-white-b.jpg", :class => "app-anchor"), "http://store.potentialapparel.com/products/92000r-pac-w" %>
				</div>
			</div>
			<div class="span3">
				<div class="app-wrap">
					<%= link_to image_tag("red-circlelogo-white-a.jpg", :mouseover => "red-circlelogo-white-b.jpg", :class => "app-anchor"), "http://store.potentialapparel.com/products/64000r-pac-w" %>
				</div>
			</div>
		</div>
		<div class="row bump-20">
			<div class="span3">
				<div class="app-wrap">
					<%= link_to image_tag("black-potentialred-a.jpg", :mouseover => "black-potentialred-b.jpg", :class => "app-anchor"), "http://store.potentialapparel.com/products/64000b-prb-rw" %>
				</div>
			</div>

			<div class="span3">
				<div class="app-wrap">
					<%= link_to image_tag("sport-grey-plines-red-a.jpg", :mouseover => "sport-grey-plines-red-b.jpg", :class => "app-anchor"), " http://store.potentialapparel.com/products/64000sg-psl-r" %>
				</div>
			</div>
			<div class="span3">
				<div class="app-wrap">
					<%= link_to image_tag("tank-navy-sie-white-a.jpg", :mouseover => "tank-navy-sie-white-b.jpg", :class => "app-anchor"), "http://store.potentialapparel.com/products/2200nm-sie-w" %>
				</div>
			</div>
			<div class="span3">
				<div class="app-wrap">
					<%= link_to image_tag("w-black-circlelogo-white-a.jpg", :mouseover => "w-black-circlelogo-white-b.jpg", :class => "app-anchor"), "http://store.potentialapparel.com/products/b8413b-pac-w" %>
				</div>
			</div>
		</div>
		<div class="row bump-20">
			<div class="span3">
				<div class="app-wrap">
					<%= link_to image_tag("w-hoodie-sport-grey-circlelogo-black-a.jpg", :mouseover => "w-hoodie-sport-grey-circlelogo-black-b.jpg", :class => "app-anchor"), "http://store.potentialapparel.com/products/92500sg-pac-b" %>
				</div>
			</div>
			<div class="span3">
				<div class="app-wrap">
					<%= link_to image_tag("charcoal-phnsl-white-a.jpg", :mouseover => "charcoal-phnsl-white-b.jpg", :class => "app-anchor"), "http://store.potentialapparel.com/products/b3415c-nsl-w" %>
				</div>
			</div>
			<div class="span3">
				<div class="app-wrap">
					<%= link_to image_tag("w-sport-grey-phnsl-white-a.jpg", :mouseover => "w-sport-grey-phnsl-white-b.jpg", :class => "app-anchor"), "http://store.potentialapparel.com/products/b8413sg-nsl-w" %>
				</div>
			</div>
			<div class="span3">
				<div class="app-wrap">
					<%= link_to image_tag("w-sport-grey-wyp-blue-a.jpg", :mouseover => "w-sport-grey-wyp-blue-b.jpg", :class => "app-anchor"), "http://store.potentialapparel.com/products/b6005sg-wyp-bt"%>
				</div>
			</div>
		</div>
	</div>

</section>
<section id ="partners" class="frame padding-bottom">
	<div class="container tall">
		<div class="pad-top"></div>
		<div class="row">
			<div class="span3 partners-info">
				<div class="padding">
					<h2 class="partner-header">OUR CAUSES</h2>
					<h3 class="partner-subheader"><%= link_to "Right To Play", "http://www.righttoplay.com/canada/pages/home.aspx", :target => "_blank" %></h3>
					<h4 class="partner-flavor">When children play, the world wins.</h4>
					<p class="partner-para">Right To Play is an international humanitarian organization that uses sport and play programs to improve health, develop life skills, and foster peace for children and communities in some of the most disadvantaged areas of the world. Working in both the humanitarian and development context, Right To Play builds local capacity by training community leaders as Coaches to deliver its programs in 20 countries affected by war, poverty, and disease in Africa, Asia, the Middle East and South America. The national offices raise funds, build awareness for Right To Play programs and advocate for Sport for Development.</p>
					<%= link_to(content_tag(:button, "Go to Store", :class => "btn btn-large gear-up no-margin-b"), "http://store.potentialapparel.com", :class => "") %>
				</div>
			</div>
			<div class="span8 tall hidden-phone">
				<iframe width="100%" style="position:relative; z-index: 0;" height="500" src="http://www.youtube.com/embed/m_RfeSl3dUc?wmode=transparent" wmode="Opaque" frameborder="0" allowfullscreen></iframe>
				
			</div>
		</div>
</section><!--end of roster-->

<section id ="partners-2" class="frame padding-bottom">
	<div class="container tall">
		<div class="pad-top"></div>
		<div class="row">

			<div class="span8 tall hidden-phone">
				<iframe width="100%" height="500px" src="http://www.youtube.com/embed/jIi7jCx5wJg?wmode=transparent" wmode="Opaque" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="span3 partners-info">
				<div class="padding">
					<h2 class="partner-header">OUR CAUSES</h2>
					<h3 class="partner-subheader"><%= link_to "HEROES Hockey", "http://www.heroshockey.com/", :target => "_blank" %></h3>
					<h4 class="partner-flavor">Empowering children on ice</h4>
					<p class="partner-para">The Hockey Education Reaching Out Society is a registered Canadian charitable organization committed to empowering children through ice hockey. The premise of HEROS is to use the game of hockey as a catalyst to attract youth to a program offering support for education self-esteem building and life skills training. The program focuses on boys and girls of diverse ethnicity from economically challenged neighborhoods. The program will be conducted in an environment of fun and safety where each child is considered to be a HERO.</p>
					<%= link_to(content_tag(:button, "Go to Store", :class => "btn btn-large gear-up no-margin-b"), "http://store.potentialapparel.com", :class => "") %>

				</div>
			</div>
		</div>
	</div>
</section><!--end of roster-->
<script>
  	 $('a.normal').on('click', function(e) {
		 e.preventDefault();
		 $('html, body').animate({ scrollTop: $(this.hash).offset().top }, 300);
	 	 });

	 	 $('.brand').on('click', function(e) {
		 e.preventDefault();
		 $('html, body').animate({ scrollTop: $(this.hash).offset().top }, 300);
 	 });
	 $('a.normal').on('click', function(e) {
		 e.preventDefault();
		 $('html, body').animate({ scrollTop: $(this.hash).offset().top }, 300);
	 	 });

	 	 $('.brand').on('click', function(e) {
		 e.preventDefault();
		 $('html, body').animate({ scrollTop: $(this.hash).offset().top }, 300);
 	 });

</script>
