<section id ="social" class="frame">
	<div class="container">
		<div class="row">
			<div class="span12"><h3>MORE WAYS TO HELP</h3></div>
		</div>
		<div class="row social-call-to-action">
			<div class="span4 social-steps">
				<div class="social-steps-info-wrapper">
					<div class="social-icon"><%= link_to image_tag("twitter-circle-bw.png"), 'http://www.twitter.com/potentialsays', :target => "_blank" %></div>
					<h4 class="header-social-title">Twitter Users:</h4>
					<h5 class="header-social-h6"><b>Use a donation code!</b></h5>
					<p>
					Be sure to follow our twitter handle <%= link_to "@PotentialSays", "http://www.twitter.com/potentialsays", :target => "_blank" %> to get our latest updates. 
					Plus, follow our pro athletes on our <%= link_to "Roster Page", "http://www.potentialapparel.com/#roster" %> and use their donation codes while you check out to <b>donate an extra dollar</b> to our charities! See terms of service for details.	
					</p>
				</div>
			</div>
			<div class="span4 social-steps">
				<div class="social-steps-info-wrapper">
					<div class="social-icon"><%= link_to image_tag("facebookplustwitter.png"), "http://www.facebook.com/potentialapparel", :target => "_blank" %></div>
					<h4 class="header-social-title">Facebook + Twitter Users:</h4>
					<h5 class="header-social-h6"><b>Donate with one easy post!</b></h5>
					<p>
						After you check out, review your order and click the “Donate with a Tweet or Post ” button. Sign in with your twitter or facebook account,  submit your post, and we’ll <b>donate a second extra dollar</b> on your behalf! 
						See terms of service for details.
					</p>
				</div>
			</div>
			<div class="span4 social-steps">
				<div class="social-steps-info-wrapper">
					<div class="social-icon"><%= link_to image_tag("instagram-circle-bw.png"), "http://www.instagram.com/potentialsays", :target => "_blank" %></div>
					<h4 class="header-social-title">Instagram Users:</h4>
					<h5 class="header-social-h6"><b>Show off your new apparel!</b></h5>
					<p>
						If you use instagram, tag a photo of yourself wearing your Potential Apparel with <%= link_to "#PotentialSays", "http://www.instagram.com/potentialsays", :target => "_blank" %>. We’ll donate a third extra dollar to our partnered charities! Finally, “selfies” that matter! See terms of service for details.
					</p>
				</div>
			</div>
		</div>
	</div>
	
</section>