
<!-- start of hero-->
<section id ="hero" class="frame">
    <div class="one-third hidden-tablet hidden-phone"></div>
    <div class="two-thirds">
		<div class="container-fluid tall">
			<div class="row-fluid tall">
				<div class="span8 tall pull-right">
			      <%= image_tag("big-billboard.png", :alt => "Potential Apparel billboard", :class => "hero-img") %>
			    </div>
			    <div class="span4 height-100">
			    <div class="call-to-action">
					<h2>Potential Apparel is building the World's Largest Billboard.</h2>
			
					<h5>Here's what we mean: </h5>
					<p>We are encouraging everyone to donate the advertising space of
						their t-shirts, tanks and hoodies to the Potential Apparel "Billboard".
					</p>
					<p >Side by side Potential Apparel wearers support underprivileged youth through sport and help unlock their potential.
						Five to nine dollars from every item sold will be donated to our 
						partnered charities <i><a href="http://www.righttoplay.com/canada/Pages/landing.aspx" class="charity_link">Right to Play</a></i> 
						and <i><a href="http://www.heroshockey.com/" class="charity_link">HEROS Hockey</a><i>.</i></i></p><i><i></i></i>
				</div>
					<div class="move-down hidden-tablet hidden-phone">
						<h5>A whole new way to help.</h5>
						<button class="btn btn-inverse btn-large">Coming Soon</button>
					</div>
			    </div>
		    </div>
		</div>
	</div>
</section>
<!-- end of of hero -->
<!-- start of concept -->
<section id ="concept" class="frame">
    <div class="three-fifths">
    	<div class="container-fluid tall">
			<div class="row-fluid tall">
				<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
				  <div class="carousel-inner">
				    <div class="item active"><!-- class of active since it's the first item -->
				     <%= image_tag("you-wear-a-shirt-everyday.png") %>
				    </div>
				    <div class="item">
				     <%= image_tag("you-wear-a-shirt-everyday.png") %>
				    </div>
				    <div class="item">
				      <%= image_tag("you-wear-a-shirt-everyday.png") %>
				    </div>
				    <div class="item">
				      <%= image_tag("you-wear-a-shirt-everyday.png") %>
				    </div>
				  </div><!-- /.carousel-inner -->
				  <!--  Next and Previous controls below
				        href values must reference the id for this carousel -->
				    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
				    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
				</div><!-- /.carousel -->
		    </div>
		</div>
    </div>
    <div class="two-fifths">
    	<div class="container tall">
			<div class="row tall">
				<div class="span4 steps">
					<div class="step-well hidden-tablet"></div>
					<div class="message">
						<h5>You wear a shirt every day. Some people end up paying just to advertise for big companies.</h5>
						<p>
							What you wear says a lot about who you are and what you value. Your shirt is seen by tons of people whenever you’re out in public. Some people pay big companies lots of money to wear their brand, effectively advertising for them for free.
						</p>
					</div>
				</div>
				<div class="span4 steps">
					<div class="step-well hidden-tablet"></div>
					<div class="message">
						<h5>What if you could donate the space on your shirt to benefit real people?</h5>
						<p>
							Wearing potential apparel means you’re supporting the next generation of all star athletes and headlining artists in multiple ways. Proceeds from every sale go directly to our partnered charities and organizations.
						</p>
					</div>
				</div>
				<div class="span4 steps ">
					<div class="step-well hidden-tablet "></div>
					<div class="message">
						<h5>You wear a shirt every day. Some people end up paying just to advertise for big companies.</h5>
						<p>
							What you wear says a lot about who you are and what you support. Your shirt is seen by tons of people whenever you’re out in public. Some people pay big companies lots of money to wear their logo, effectively advertising for them for free.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end of concept -->
<!-- roster start-->
<section id ="roster" class="frame">
	<div class="container tall">
		<div class="pad-top"></div>
		<div class="row roster-well">
			<div class="span6 player">
				<div class="row roster-well">
      				<div class="span2"><%= image_tag("brendan-gallagher.png") %></div>
     				<div class="span4">Level 2</div>
    			</div>
    		</div>
			<div class="span6 player"></div>
		</div>
		<div class="row roster-well">
			<div class="span6 player"></div>
			<div class="span6 player"></div>
		</div>
		<div class="row roster-well">
			<div class="span6 player"></div>
			<div class="span6 player"></div>
		</div>
	</div>
</section><!--end of roster-->

<section id ="partners" class="frame">
	<div class="container tall">
		<div class="pad-top"></div>
		<div class="row">
			<div class="span4 partners-info">
				<div class="padding">
					<h2 class="partner-header">OUR PARTNERS</h2>
					<h3 class="partner-subheader">Right To Play</h3>
					<h4 class="partner-flavor">Look after yourself, look after one another.</h4>
					<p class="partner-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<button class="btn btn-large gear-up">Gear Up</button>
				</div>
			</div>
			<div class="span8 tall"><iframe width="100%" height="55%" src="http://www.youtube.com/embed/uMSX4ZIFOkQ" frameborder="0" allowfullscreen></iframe></div>
		</div>
</section><!--end of roster-->
<section id ="partners-2" class="frame">
	<div class="container tall">
	<div class="pad-top"></div>
	<div class="row">
		<div class="span8 tall"><iframe width="100%" height="55%" src="http://www.youtube.com/embed/uMSX4ZIFOkQ" frameborder="0" allowfullscreen></iframe></div>
		<div class="span4 partners-info">
			<div class="padding">
				<h2 class="partner-header">OUR PARTNERS</h2>
				<h3 class="partner-subheader">HEROES Hockey</h3>
				<h4 class="partner-flavor">Empowering children on ice</h4>
				<p class="partner-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<button class="btn btn-large gear-up">Gear Up</button>
			</div>
		</div>
	</div>
</section><!--end of roster-->